[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Pp]akages/
[Ww]ebBuild/
[Ww]indowBuild/
[Pp]ackages/
[Uu]serSettings/
.vscode/
Assets/AssetStoreTools*

.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
Assets/Fonts/*.asset
Assets/Fonts/A-思源黑体-CN-400-Regular SDF.asset
